body {
	margin: 0;
	font-family: 'Noto Sans TC', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Noto Sans TC', sans-serif;
}

p {
	font-family: 'Noto Sans TC', sans-serif;
}

a {
	font-family: 'Noto Sans TC', sans-serif;
	font-size: medium;
}

.navtop {
	width: 100%;
	background-color: rgb(0, 0, 0);
	overflow: auto;
}

.navtop a {
	float: right;
	color: #f2f2f2;
	text-align: center;
	font-size: 20px;
	padding: 40px 40px;
	text-decoration: none;
}

.navtop a:hover {
	background-color: rgb(255, 255, 255);
	color: black;
}

.navtop a.active {
	background-color: #ffffff;
	color: rgb(0, 0, 0);
}

.navtop .src-container {
	float: right;
}

.navtop input[type=text] {
	font-family: 'Noto Sans TC', sans-serif;
	padding: 20px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	border: none;
}

.navtop .src-container button {
	float: right;
	padding: 20px 20px;
	margin-top: 20px;
	margin-right: 20px;
	font-size: 20px;
	background: rgb(255, 255, 255);
	border: none;
	cursor: pointer;
}

.navtop .src-container button:hover {
	background: rgb(73, 73, 73);
}

.nav1 {
	overflow: hidden;
	background-color: rgb(0, 0, 0);
}

.nav1 a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 20px 20px;
	text-decoration: none;
	font-size: 18px;
}

.nav1 a:hover {
	background-color: rgb(255, 255, 255);
	color: black;
}

.nav1 a.active {
	background-color: #ffffff;
	color: rgb(0, 0, 0);
}



.rsidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: rgb(0, 0, 0);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.rsidenav a {
	padding: 8px 8px 8px 32px;
	display: block;
	text-decoration: none;
	font-size: 30px;
	color: #afafaf;
	transition: 0.2s;
}

.rsidenav a:hover {
	color: #ffffff;
}

.rsidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#hot {
	padding: 0px 0px;
	background: rgb(255, 255, 255);
}

#hot h3 {
	margin-bottom: 80px;
	font-size: 40px;
}

img {
	max-width: 100%;
}


#hot .upper {
	position: relative;

}

#hot p {
	margin-top: 15%;
}

#hot h1 {
	margin-right: 300px;
}

#hot img {
	width: 100%;
}

#hot .innertext {
	position: absolute;
	bottom: 24px;
	left: 24px;

}

#hot .star {
	margin-left: 50px;
}

#hot h2 {
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 160px;
}

#hot a {
	background: rgba(0, 0, 0, 0.9);
	color: white;
	padding: 10px 20px;
	border-radius: 30px;
	text-decoration: none;
	margin-left: 20px;
}

#hot button {
	background: rgba(0, 0, 0, 0.9);
	color: white;
	padding: 10px 20px;
	border-radius: 30px;
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 100px;
	margin-left: 150px;
}


#hot textarea {
	margin-bottom: 0px;
	border: 3px solid rgb(128, 128, 128);
	display: block;
}

#hot textarea:hover {
	margin-bottom: 0px;
	border: 3px solid rgb(0, 0, 0);
	display: block;
}

.star {
	font-size: 0;
	display: table;

}

.star label {
	color: rgb(110, 110, 110);
	float: right;
}

.star label:before {
	padding: 6px;
	font-size: 30px;
	line-height: 1em;
	display: inline-block;
	content: "â»";
}

.star>input:checked~label,
.star:not(:checked)>label:hover,
.star:not(:checked)>label:hover~label {
	color: #000000;
	transform: scale(1.2, 1.2);
}

#hot .innertext a {
	background: rgba(0, 0, 0, 0.9);
	color: white;
	padding: 10px 20px;
	border-radius: 30px;
	text-decoration: none;
}

#hot h1 {
	margin-top: 10px;
	font-weight: bold;
}

#hot h5 {
	margin-right: 500px;
}

#hot select {
	display: block;
	padding: 10px 60px;
	margin-top: 20px;
	font-size: 20px;
}

#hot input {
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	margin-top: 10px;
	border: 1px solid black;
}



#sub1 {
	background: rgba(0, 0, 0);
	color: white;
	padding: 5px 110px;
	border-radius: 30px;
	text-decoration: none;
	margin-left: 10px;
}

#sub1:hover {
	background: rgba(95, 95, 95);
	color: white;
	padding: 5px -55px;
	border-radius: 30px;
	text-decoration: none;
	margin-left: 10px;
}

#sub2 {
	background: rgba(0, 0, 0);
	color: white;
	padding: 5px 90px;
	border-radius: 30px;
	text-decoration: none;
	margin-left: 155px;
	margin-bottom: 20px;
}


#sub2:hover {
	background: rgba(95, 95, 95);
	color: white;
	padding: 5px -45px;
	border-radius: 30px;
	text-decoration: none;
	margin-left: 155px;
	margin-bottom: 20px;
}

#hot .innertext a:hover {
	background: rgba(100, 100, 100, 0.9);
	color: white;
	padding: 10px 20px;
	border-radius: 30px;
	text-decoration: none;

}

#hot .lower h2 {
	text-align: center;
	font-size: 24px;
	margin-top: 12px;
	margin-bottom: 12px;
}

#hot .lower {
	padding: 20px 20px 20px 20px;
}

#hot .outer {
	background: rgb(255, 255, 255);
	box-shadow: 0 0 3px 0 rgb(70, 70, 70);

}

#hot .outer:hover {
	background: rgb(255, 255, 255);
	box-shadow: 0 0 10px 0 rgb(0, 0, 0);

}

.footer-top {
	padding: 20px 0;
	color: rgb(255, 255, 255);
	background: rgb(0, 0, 0);
}

.footer-top h3 {
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
}

.footer-top h2 {
	padding-bottom: 20px;
	color: #fff;
	text-align: left;
}

.footer-about p a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.footer-about p a:hover,
.footer-about p a:focus {
	color: rgb(180, 180, 180);
}

.footer-contact p {
	color: rgb(255, 255, 255);
	text-decoration: none;
	word-wrap: break-word;
}

.footer-contact i {
	padding-right: 10px;
	font-size: 20px;
	color: rgb(255, 255, 255);
}

.footer-contact p a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.footer-contact p a:hover {
	color: rgb(124, 124, 124);
}

.sss a {
	background: rgba(255, 255, 255, 0.9);
	color: rgb(0, 0, 0);
	padding: 10px 20px;
	border-radius: 10px;
	text-decoration: none;
}

.sss a:hover {
	background: rgba(97, 97, 97, 0.9);
	color: rgb(255, 255, 255);
	padding: 10px 20px;
	border-radius: 10px;
	text-decoration: none;
}

footer.bang {
	width: 100%;
	text-align: center;
	background-color: black;
	color: white;
	font-family: Georgia, 'Times New Roman', Times, serif;
}